@charset "UTF-8";

.inner {
  width: 1100px;
  margin: 0 auto;
}

header {
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #fff;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #8c8c8c;
}

.contact-text {
  text-decoration: none;
  color: #fff;
  background-color: #6ba7eb;
  font-size: 12px;
  padding: 12px 14px;
  transition: 0.3s;
}

.ham-menu {
  display: none;
}



.contact-text:hover {
  color: #333;
}

main {
  padding-top: 78px;
}

.keyvisual {
  background-image: url(../img/keyvisual/keyvisual.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 400px 0;
}

.keyvisual-text {
  text-align: center;
}

.keyvisual-title {
  color: #6CA6EA;
  font-size: 64px;
  margin-bottom: 30px;
}

.keyvisual-lead {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}

.work {
  background: #e3f2fd;
  padding-top: 50px;
}

.work-inner {
  display: flex;
  align-items: center;
}

.work-img {
  width: 40%;
  text-align: center;
}

.work-img img {
  width: 240px;
  height: 200px;
}

.work-text {
  text-align: center;
  width: 60%;
}

h2 {
  font-size: 40px;
  letter-spacing: 10px;
}

.work-content {
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
  margin-top: 15px;
}

.skills {
  background: #fff;
  padding: 50px 0 70px;
}

.skills-inner {
  font-size: 0;
}

.skills-title {
  margin-bottom: 50px;
  text-align: center;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.skills-img {
  float: left;
  margin: 100px 100px 0 0;
  opacity: 0.7;
  transition-duration: .7s;
}

.skills-img a {
  text-decoration: none;
}

.skills-img img {
  width: 300px;
  height: 300px;
}

.skills-img:hover {
  opacity: 1.0;
}

.skills-img:nth-child(3n) {
  margin-right: 0;
}

.skills-img:nth-child(-n+3) {
  margin-top: 0;
}

.plan {
  background: #d0dfea;
  padding: 50px 0;
}

.plan-inner {
  text-align: center;
}

thead,tbody {
  text-align: center;
}

.plan-table {
  margin: 0 auto;
  width: 100%;
  margin-top: 50px;
  table-layout: fixed;
}

thead {
  background: #6ba7eb;
}

tbody {
  background: #f9f9f9;
}

th,td {
  padding: 10px;
  font-size: 16px;
  line-height: 26px;
  border-left: 2px solid #fff;
}

tr th:first-child {
  border-left: none;
}

tbody tr:nth-child(even) {
  background: #e0efff;
}

.icon {
  padding: 200px 0;
  background: #e3f2fd;
}

.icon-item {
  font-size: 0;
  text-align: center;
}

.icon-item a {
  width: 185px;
  padding: 25px 0;
  text-align: center;
  text-decoration: none;
  color: #8c8c8c;
  overflow: hidden;
  font-size: 40px;
  transition: .5s;
}

.icon-item a:hover {
  background: #fff;
}

footer {
  background: #cfd8dc;
}

.footer-inner p{
  font-size: 10px;
  letter-spacing: 0.5px;
  padding: 20px 0 25px;
  text-align: right;
}

/* TAB版 */
@media screen and (max-width: 1199px) {
  .inner {
    width: 97%;
  }
  
  .keyvisual {
    padding: 250px 0;
  }
  
  .work {
    padding: 50px 0;
  }
  
  .work-inner {
    flex-direction: column;
  }
  
  .work-img {
    width: 100%;
  }
  
  .work-text {
    width: 100%;
    margin-top: 10px;
  }
  
  .skills-img {
    float: none;
    margin: 0;
    text-align: center;
  }
  
  .skills-img:nth-child(3n) {
    margin-bottom: 50px;
  }
  
  .skills-img:last-child {
    margin-bottom: 0;
  }
}

/* SP版 */
@media screen and (max-width: 767px) {
  .keyvisual {
    padding: 200px 0;
  }
  
  .keyvisual-title {
    font-size: 40px;
  }
  
  .keyvisual-lead {
    font-size: 30px;
  }
  
  th {
    font-size: 14px;
    line-height: 22px;
  }
  
  td {
    font-size: 12px;
  }
  
  .icon {
    padding: 50px 15px;
  }
  
  .icon-item a {
    display: block;
    width: 100%;
    padding: 50px 0;
  }
  
  .contact {
    display: none;
  }
  .ham-menu {
    position: relative;
    height: 40px;
    width: 50px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 10px;
  }
  
  .ham-line {
    position: absolute;
    left: 10px;
    height: 4px;
    width: 30px;
    background-color: #cfd8dc;
    border-radius: 1px;
    display: inline-block;
    box-sizing: border-box;
  }
  
  .ham-line:nth-child(1) {
    top: 8px;
  }

  .ham-line:nth-child(2) {
    top: 17px;
  }
  
  .ham-line:nth-child(3) {
    bottom: 8px;
  }
}